* {
    margin: 0%;
}
body {
    background-image: url("../images/thumb-1920-656029.png");
    /* box-sizing: border-box; */
    margin-top: -1%;
  
}

header {
    background:linear-gradient(#614D9C,#3E7D8C);
    border-bottom: 2px solid #0C3B27;
    height: 200px;
    
}
#hang {
    
    width: 200px;
    margin: auto;
}

#head {
    position: relative;
}
h1 {
    text-align: center;
    font-family: 'Diplomata SC', cursive;
    color:  #FFFB85;
    font-size: 83px;
    margin-top: 13px;
    /* text-shadow: 8px 8px 5px #B3412F; */
    text-shadow:8px 8px 2px #92544A, 0 0 1em blue, 0 0 0.2em blue;
   
    
    
}

h2 {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    color: #E98E8E;
   text-shadow: 2px black;
  font-size: 85px;
  transform: skewY(-10deg);
  margin-top:-3%; 
  text-shadow: 5px 5px 8px #FF0000;
  

}



section {
    /* color: #F2E6C5; */
    border: 10px solid #0C3B27;
    border-style: double dashed;
    margin: 0 auto;
    /* margin-left: 38.5%; */
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    width: 1025px; 
    height: 900px;; 
    background:linear-gradient(#614D9C,#3E7D8C);
}

/* #sec1 {
   
    border-right: 10px solid #0C3B27;
    border-right-style: dotted;
    width: 500px;
    height: 755px;
    
} */

#col1 {
    border-right: 10px solid #0C3B27;
    border-right-style: dotted;
    width: 490px;
    height: 871px;
    
    
}

img {
    margin-left: 13px;;
    margin-right: auto;
    
}


p{
    text-align:center;
    
    font-size: 25px;
    color: #EEEEEE;
    font-weight: bold;
    font-family: 'Satisfy', cursive;
    margin: 17px auto;
}

.anime {
    font-size: xx-large;
    margin-left: -100px;
}

ul, li {
    list-style-type: hiragana ;
    color:#EEEEEE;
 
}

.animg {
    height: 137px;
    width: 112px;
    border:5px solid #0C3B27;
}


.press {
    font-size: 30px;
}

footer {
    color:#EEEEEE;
    text-align: center;
    background:linear-gradient(#614D9C,#3E7D8C);
    height: 43px;
    padding: 10px;
}