* {
    margin: 0%;
}
body {
    background-image: url("../images/thumb-1920-656029.png");
    box-sizing: border-box;
  
}

header {
    background:linear-gradient(#D46A6A, #7F30E7, #458D36);
    border: 2px solid black;
    height: 200px;
    
}
#hang {
    
    width: 200px;
    margin: auto;
}

#head {
    position: relative;
}
h1 {
    text-align: center;
    font-family: 'Diplomata SC', cursive;
    color:  #FFFB85;
    font-size: 83px;
    margin-top: 13px;
    text-shadow: 8px 8px 5px #B3412F;
   
    
    
}

h2 {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    color: #E98E8E;
   text-shadow: 2px black;
  font-size: 85px;
  transform: skewY(-10deg);
  margin-top:-3%; 
  text-shadow: 5px 5px 8px #FF0000;
  

}



section {
    /* color: #F2E6C5; */
    border: 10px solid black;
    border-style: double dashed;
    margin: 0 auto;
    /* margin-left: 38.5%; */
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    width: 1025px; 
    height: 900px;; 
    background:linear-gradient(#D46A6A, #7F30E7, #458D36);
}

#sec1 {
   
    border-right: 5px solid black;
    border-right-style: dotted;
    width: 500px;
    height: 755px;
    text-align: center;
}

p {
    text-align: left;
    
    font-size: 25px;
    color: #EEEEEE;
    font-weight: bold;
    font-family: 'Satisfy', cursive;
}