* {
    margin: 0%;
}
body {
    background-image: url("../images/thumb-1920-656029.png");
    /* box-sizing: border-box; */
    margin-top: -1%;
     background-repeat:no-repeat;
     background-size:cover;
     

  
}

header {
    background:linear-gradient(#614D9C,#3E7D8C);
    border-bottom: 2px solid #0C3B27;
    height: 200px;
    
}
#hang {
    
    width: 200px;
    margin: auto;
}

#head {
    position: relative;
}
h1 {
    text-align: center;
    font-family: 'Diplomata SC', cursive;
    color:  #FFFB85;
    font-size: 83px;
    margin-top: 13px;
    padding:19px;
    text-shadow:8px 8px 2px #92544A, 0 0 1em blue, 0 0 0.2em blue;
   
    
    
}

h2 {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    color: #E98E8E;
   text-shadow: 2px black;
  font-size: 85px;
  transform: skewY(-10deg);
  margin-top:-3%; 
  text-shadow: 5px 5px 8px #FF0000;
  

}



section {
    /* color: #F2E6C5; */
    border: 10px solid #0C3B27;
    border-style: double dashed;
    margin: 0 auto;
    /* margin-left: 38.5%; */
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    width: 1025px; 
    height: 900px;; 
    background:linear-gradient(#614D9C,#3E7D8C);
}


#col1 {
    border-right: 2px solid #0C3B27;
    
    width: 490px;
    height: 871px;
    background-image: url("../images/skull-horror-free-abstracts-night-cities-amazing-funny-artsdarkfree-images-skeletons-funny-images-reaper-blue-grim-creepy.jpg"); 
    
    
}

audio {
    display: none;
}
#col2 {
    
   
    width: 505px;
    height: 871px;
    background-image: url("../images/wallpaper2you_36866.jpg"); 
    background-size: 180%;
    background-repeat: no-repeat;
    background-position: center;

    
}


img {
    /* margin-left: 13px;; */
    margin-right: auto;
   
}

#place {
    margin-left:67px;
    height: 350px;
}


p{
    text-align:center;
    text-shadow: 5px 5px 8px #FF0000;
    font-size: 30px;
    letter-spacing:2px;
    color: white;
    font-weight: bold;
    font-family: 'Satisfy', cursive;
    margin: 17px auto;
    line-height: 80%;
}

#wrong {
    line-height: 130%;
    
}

.alert {
    color:red;
    text-shadow: 3px 3px 5px white;
    font-weight: bold;
    font-size: 40px;
}
.anime {
    font-size: xx-large;
    margin-left: 100px;
    
}

ol, li {
    /* list-style-type: square; */
    color:#EEEEEE;
    border: 2px solid #0C3B27;
    list-style-position: outside;
    border-radius: 5px;
    text-align:center;
    text-shadow: 5px 5px 8px #FF0000;
    font-family: 'Satisfy', cursive;
    font-weight: bold;
    font-size: 20px;
}

.animg {
    height: 137px;
    width: 112px;
    border:5px solid #0C3B27;
    transition: all 1s;
}
.animg:hover {
    transform: scale(2)
}

.press {
    font-size: 30px;
}

button {
    background-color: #F4F5F5;
    color:blue;
    border-radius: 10px;
    font-weight: bold;
    
    width: 111px;
    margin-left: 175px;
  
    
}



footer {
    color:#EEEEEE;
    text-align: center;
    background:linear-gradient(#614D9C,#3E7D8C);
    height: 43px;
    padding: 10px;
}



@media screen and (max-width: 980px) {
    section {
        
        height: 100%;
        width:100%;
  
    }
   .container {
       width:100%;
     
       
   }

   h1 {
    
    padding: 21px;
    font-size: 80px;
    
    
    text-shadow:2px 2px 2px #92544A, 0 0 1em blue, 0 0 0.2em blue;
   }

   .he{
       margin-top: -3%;
   }

   h2 {
       font-size: 409%;
       margin-top: -17%;
   }

   #col1 {
       margin-left: 16%;
   }
   #col2 {
    margin-left: 16%;
    width: 68%;
   }
}

@media screen and (max-width: 768px) {
    section {
        
        height: 100%;
        width:100%;
    
        
        
        
    }
   .container {
       width:100%;
     
       
   }

   h1 {
    
    padding: 22px;
    font-size: 61px;
    
    
    text-shadow:2px 2px 2px #92544A, 0 0 1em blue, 0 0 0.2em blue;
   }

   .he{
       margin-top: -3%;
   }

   h2 {
       font-size: 319%;
       margin-top: -9%;
   }

   #col1 {
       margin-left: 16%;
   }
   #col2 {
    margin-left: 16%;
    width: 68%;
   }
}

@media screen and (max-width: 640px) {
    section {
        
        height: 100%;
        width:100%;
   
    }
   .container {
       width:100%;
   
   }

   h1 {
    font-size: 51px;
    padding: 46px;
    text-shadow:2px 2px 2px #92544A, 0 0 1em blue, 0 0 0.2em blue;
   }

   .he{
       margin-top: -3%;
   }

   h2 {
       font-size: 339%;
       margin-top: -11%;
   }

   #col1 {
       margin-left: 4%;
   }
   #col2 {
    margin-left: 4%;
    width: 91%;
   }
}


